<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.singup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bus"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/bus_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SingUp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddBus"
            android:exported="true" />
        <activity
            android:name=".PeopleList"
            android:exported="true" />
        <activity
            android:name=".Passenger"
            android:exported="true" />
        <activity
            android:name=".Driver"
            android:exported="true" />
        <activity
            android:name=".FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Show"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Start"
            android:exported="true" />
    </application>

</manifest>